---
import '../styles/global.css';

const pageTitle = "Dawson Rubino";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<main>
  
			<article>
			  <h1>Dawson Rubino</h1>
		  
		  <p>Greetings! I am a Web Design student at EWU, where I am honing my skills en route to a BDes degree. My academic journey commenced at SFCC, laying a solid foundation in the art and science of web design. My aim is to create designs that are not only functional but also aesthetically captivating, ensuring a memorable user experience.</p>
			  
			  <nav>
				  <a href="https://drubino.webflow.io/">Portfolio</a>
				  <a href="https://github.com/drubino8/">GitHub</a>
				  <a href="https://codepen.io/drubino/">CodePen</a>
				</nav>
			  
		  </article>
			
			<aside>
			  <img src="https://uploads-ssl.webflow.com/645c116c6148ce2dd7cef27c/646ce89bc8a4055047afa5bf_Headshot_DR.png" alt="My Picture">
			</aside>
		  </main>
	</body>
</html>
